   body,html {
    margin: 0;
    padding: 0;
    background: url(img/fondo3.jpg);
    background-position: center;
    background-size: 100vh;
    font-family: Georgia, sans-serif;
    letter-spacing: 1.5px;   
}

.btn-secondary {
    background: transparent;
    border-radius: 10px;
}

.title {
    color: rgb(255, 255, 255);
    font-size: 35px;
    text-align: center;
    margin-top: 6cm;
    font-weight: 900;
}

.title0 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 900;
}

.searchbar {
    margin-bottom: auto;
    margin-top: 1cm;
    height: 80px;
    background-color: #ffffff8e;
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    color: rgb(0, 0, 0);
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    line-height: 60px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input { 
    padding: 0 10px;
    width: 450px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
    background: #000000ce;
    color: white;
}

.search_icon {
    height: 60px;
    width: 60px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:#000000ce;
}

.card-title {
    float: center;
    margin-top: 0.1cm;
}

.card {
    color:white;
    border-color: aliceblue;
    border-width: 2px;
    border-radius: 10px;
    background:rgba(41, 39, 39, 0.623)  ;
    height: 11cm;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.card:hover {
    background-color:  rgba(44, 43, 43, 0.267);
}

.modal-content {
    background-color: rgba(37, 36, 36, 0.548);
    color:whitesmoke;
}


@media (max-width: 500px) {
    .searchbar:hover > .search_input{
        width: 280px ;
    }
}

@media (max-width: 400px) {
    .element.style {
        width: 10rem;
    }
}